<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.jungle.qa.testCases.TC_01_Validate_Banner_Headline"/>    
      <class name="com.jungle.qa.testCases.TC_02_Validate_Title_Of_HomePage"/>
      <class name="com.jungle.qa.testCases.TC_03_Validate_FAQ_Answer_Is_Expanded_And_Collapsed"/>
      <class name="com.jungle.qa.testCases.TC_04_Validate_SignUp_Feature"/>
      <class name="com.jungle.qa.testCases.TC_05_Validate_Presence_Of_HowItWorks_Subsections"/>
      <class name="com.jungle.qa.testCases.TC_06_Validate_Presence_Of_Categories_In_Browse_By_Category_Section"/>
      <class name="com.jungle.qa.testCases.TC_07_Validate_Presence_Of_Question_And_Answer_In_FAQs_Section"/>
      <class name="com.jungle.qa.testCases.TC_08_Validate_Footer_Link_For_Twitter"/>
      <class name="com.jungle.qa.testCases.TC_09_Validate_Footer_Link_For_LinkedIn"/>
      <class name="com.jungle.qa.testCases.TC_10_Validate_Footer_Link_For_Facebook"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
